<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chill 99 | Restaurant</title>
    <link rel="icon" href="download.png" type="image/icon type">
<link rel="stylesheet" href="platform65.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <!--Header section start-->
    <header>
        <a href="#" class="logo"><i class="fa fa-utensils"></i>Quick Eats</a>
        <nav class="navbar">
            <a class="active" href="home.html">Home</a>
            <a href="#" onclick="openAbout()">About</a>
            <a href="contact.html" >Contact Us</a>
            <a href="#">Orders</a>
        </nav>
        <div class="icons">
            <i class="fas fa-bars" id="menu-bars"></i>
            <i class="fas fa-search" id="search-icon"></i>
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-shopping-cart"></a>
            <i class="fa fa-user" aria-hidden="true"></i>
            <a href="login.html" class="fas fa-sign-in-alt"></a>
            
        </div>

         <!--search form-->
    <form action="" id="search-form">
        <input type="search" placeholder="search here..." name="" id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        <i class="fas fa-times" id="close1"></i>
    </form>
    <!--Search Form ends-->
    </header>

<!--Rating Form starts-->

<div class="back">
    <div class="container1" id="co1">
        <div class="post">
            <div class="text">Thanks for Rating us!</div>
            <div class="edit">Edit</div>
            <i class="fas fa-times" id="close"></i>
        </div>
        <div class="star-widget">
        <input type="radio" name="rate" id="rate-5">
        <label for="rate-5" class="fas fa-star"></label>
        <input type="radio" name="rate" id="rate-4">
        <label for="rate-4" class="fas fa-star"></label>
        <input type="radio" name="rate" id="rate-3">
        <label for="rate-3" class="fas fa-star"></label>
        <input type="radio" name="rate" id="rate-2">
        <label for="rate-2" class="fas fa-star"></label>
        <input type="radio" name="rate" id="rate-1">
        <label for="rate-1" class="fas fa-star"></label>
        <form action="#">
            <i class="fas fa-times" id="close"></i>
            <h4></h4>
            <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience"></textarea>
    
            </div>
            
            <div class="btn">
                <button type="submit">Post</button>
            </div>
        </form>
        </div>    
    </div>
    </div>
<!--Rating form ends-->
<!--side bar-->

<nav class="sidebar">
    <div class="text">
    <a href="platform65.html"></i></a>
    <ul>
        <li><a href="#biryani" onclick="myfun()">Veg Tandoori</a></li>
        <li><a href="#start" onclick="myfunction()">Main Course</a></li>
        <li><a href="#roti" onclick="myroti()">Noodles</a></li>
        <li><a href="#curry" onclick="mycurry()">Rice</a></li>
        <li><a href="#fast" onclick="myfastfood()">Tandoori Roti</a></li>
        <li><a href="#tandoori" onclick="mytandoori()">Indian Non Veg</a></li>
    </ul>
</div>
</nav>
<!--Side bar ends-->
<section class="home" id="home">
    <div class="barb">
    <h2><img src="chill.jpeg" height="500" width="500"></h2>
    <div class="cont">
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/zc8DJMgkQR4?autoplay=1&mute=1&loop=1&playlist=zc8DJMgkQR4&loop=1">
        </iframe>
        </div>
        </div>
</section>
<section class="fastfood" id="fast">
    <h2 class="fastfood1">Chill 99</h2>
    <hr class="line">
    <h4>Tandoori Roti</h4>
    <div class="box-fast-food">
        <div class="box">
            <img src="aloo parantha.jpeg">
            <h3>Aloo Parantha</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹50</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
            
        </div>
        <div class="box">
            <img src="Butter-Naan-2.jpg">
            <h3>Butter Naan</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹42</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
            
        </div>
        <div class="box">
            <img src="butter.jpg">
            <h3>Butter Roti</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹15</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
            
        </div>
        <div class="box">
            <img src="garlic naan.jpeg">
            <h3>Garlic naan</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹52</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
            
        </div>
        <div class="box">
            <img src="lachha.jpg">
            <h3>Lachha Parantha</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹36</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
            
        </div>
        <div class="box">
            <img src="missi.jpg">
            <h3>Missi Roti</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹36</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
            
        </div>
    </div>
</section>

<!--Curry menu-->
<section class="currys" id="curry">
    <h2 class="platform65">Chill 99</h2>
    <hr class="line">
    <h4>Rice</h4> 
    <div class="box-curry">
        <div class="box">
            <img src="jeera.jpeg">
            <h3>Jeera Rice</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹120</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="matar.jpeg">
            <h3>Matar Pulao</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹144</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="plain.jpeg">
            <h3>Plain Rice</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹108</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="veg biryani.jpeg">
            <h3>Veg Biryani</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹200</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="chicken biryani.jpeg">
            <h3>Chicken Biryani</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹276</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        

</section>
<section class="rotis" id="roti">
    <h2 class="platform65">Chill 99</h2>
    <hr class="line">
    <h4>Noodles</h4> 
    <div class="box-roti">
        <div class="box">
            <img src="Chilli garlic noodles.jpeg">
            <h3>Chilli Garlic Noodles</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹180</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
                <img src="singapuri noodles.jpeg">
                <h3>Singapuri Noodles</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
        
                </div>
                <span>₹200</span>
                <br>
                <a href="#" class="btn">Add to cart</a>
            </div>
        <div class="box">
            <img src="veg noodles.jpeg">
            <h3>Veg noodles</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹150</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="cheese noodles.jpeg">
            <h3>Cheese Noodles</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹180</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="Veg chopsey.jpeg">
            <h3>Veg chopsey</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹216</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
     
</section>
<section class="tandoori1" id="tandoori">
    <h2 class="platform65">Chill 99</h2>
    <hr class="line">
    <h4>Indian Non Veg</h4> 
    <div class="box-tandoori">
        <div class="box">
            <img src="bread omlette.jpeg">
            <h3>Bread Omlette</h3>
            <div class="stars"> 
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹168</span>
            <br> 
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
                <img src="chicken lemon.jpeg">
                <h3>Chicken Lemon</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
        
                </div>
                <span>₹300</span>
                <br>
                <a href="#" class="btn">Add to cart</a>
            </div>
        <div class="box">
            <img src="creamy chicken.jpeg">
            <h3>Creamy Chicken</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹312</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="egg curry.jpeg">
            <h3>Egg Curry</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹180</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="omlette.jpeg">
            <h3>Omlette</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹132</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
       </div>
       

</section>

<section class="starters" id="start">
    <h2 class="platform65">Chill 99</h2>
    <hr class="line">
    <h4>Main Course</h4> 
    <div class="box-starters">
        <div class="box">
            <img src="chilli chana.jpeg">
            <h3>Chilli Chana Crispy</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹216</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="crispy paneer.jpeg">
            <h3>Crispy Paneer</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹264</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="lollipop.jpeg">
            <h3>Veg Lollipop(6 pcs.)</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹150</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="cheese chilli.jpeg">
            <h3>Cheese Chilli</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹250</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="honey chilli potato.jpeg">
            <h3>Honey Chilli Potato</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>₹238</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
      
</section>

<section class="meh" id="biryani">
    <h2 class="platform65">Chill 99</h2>
    <hr class="line">
    <h4>Veg Tandoori</h4>  
    <div class="box-container">
    <div class="box">
        <img src="afghani chaap.jpeg">
        <h3>Afghani chaap</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>

        </div>
        <span>₹228</span>
        <br>
        <a href="#" class="btn">Add to cart</a>
    </div>
    <div class="box">
        <img src="paneer tikka.jpeg">
        <h3>Garlic Paneer Tikka</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>

        </div>
        <span>₹288</span>
        <br>
        <a href="#" class="btn">Add to cart</a>
    </div>
    <div class="box">
        <img src="malai chaap.jpeg">
        <h3>Malai Chaap</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </div>
        <span>₹228</span>
        <br>
        <a href="#" class="btn">Add to cart</a>

    </div>
    <div class="box">
        <img src="paneer tik.jpeg">
        <h3>Paneer Tikka</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </div>
        <span>₹264</span>
        <br>
        <a href="#" class="btn">Add to cart</a>

    </div>
    <div class="box">
        <img src="achari chaap.jpeg" >
        <h3>Achari Chaap</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </div>
        <span>₹228</span>
        <br>
        <a href="#" class="btn">Add to cart</a>

    </div>
</section>
<div id="about" class="about">
    <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="about-overlay">
        <h1>About us</h1>
        <p>Launched in 2025, Our technology platform connects customers,<br> 
        restaurant partners and delivery partners, serving their multiple needs. <br>
        Customers use our platform to search and discover restaurants, read and write customer 
        generated reviews and view and upload photos,<br> order food delivery, book a table and make 
        payments while dining-out at restaurants. On the other hand,<br> we provide restaurant partners 
        with industry-specific marketing tools which enable them to engage and acquire customers<br> to 
        grow their business while also providing a reliable <br>and efficient last mile delivery service. 
        We also operate a one-stop procurement solution, <br>Hyperpure, which supplies high quality ingredients 
        and kitchen products to restaurant partners.<br> We also provide our delivery partners with transparent 
        and flexible earning opportunities. </p>
    </div>
</div>
<!--Footer Section-->
<footer class="footer">
    <div class="container">
        <div class="row">
            
            <div class="footer-col">
                <ul>
                    <i class="fa fa-utensils"></i>
                    <span>Quick Eats</span>
                </ul>
                <div class="map">
                    <ul>
                        <i class="fa fa-map-marker"></i>
                            <span>
                            </span>
                    </ul>
                    </div>
                <div class="mail">
                    <ul>
                        <i class="fas fa-inbox"></i>
                        <span>
                            quickeats.project@gmail.com
                        </span>
                    </ul>
                </div>
            </div>
            
            <div class="footer-col">
                <h4>Quick Eats</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Payment Policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">My Orders</a></li>
                    <li><a href="#">Order Status</a></li>
                    <li><a href="#">Payment options</a></li>

                </ul>
                </div>
                <div class="footer-col">
                    <h4>Order Now</h4>
                    <ul>
                        <li><a href="#">Biryani's</a></li>
                        <li><a href="#">Restaurants</a></li>
                        <li><a href="#">Starters</a></li>
                        <li><a href="#">Fast food</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>

                    </div>

                </div>

            </div>
            </div>
            

</footer>

<!--Home  ends-->


<!--Java Script-->
    <script>
        let menu = document.querySelector('#menu-bars');
        let navbar = document.querySelector('.navbar');
        
        menu.onclick = () => {
            menu.classList.toggle('fa-times');
            navbar.classList.toggle('active');
        }
        window.onscroll=() => {
            menu.classList.remove('fa-times');
            navbar.classList.remove('active');
        }
        document.querySelector('#search-icon').onclick=() => {
            document.querySelector('#search-form').classList.toggle('active');
        }
        document.querySelector('#close1').onclick=() => {
            document.querySelector('#search-form').classList.toggle('active');
        }
        document.querySelector("#feedback").onclick=() =>{
        document.querySelector("#co1").classList.toggle("active");
    }
        document.querySelector("#close").onclick=() =>{
        document.querySelector("#co1").classList.toggle("active");

    }
    function myfun(){
        document.getElementById("biryani").style.display="block";
    }
    function myfunction(){
        document.getElementById("start").style.display="block";
    }
    function myroti(){
        document.getElementById("roti").style.display="block";
    }
    function mycurry(){
        document.getElementById("curry").style.display="block";
    }
    function myfastfood(){
        document.getElementById("fast").style.display="block";
    }
    function mytandoori(){
        document.getElementById("tandoori").style.display="block";
    }
        const btn = document.querySelector("button");
        const post = document.querySelector(".post");
        const widget = document.querySelector(".star-widget");
        const editBtn = document.querySelector(".edit");
    
        btn.onclick = () =>{
        widget.style.display = "none";
        post.style.display = "block";
        editBtn.onclick = () =>{
            widget.style.display = "block";
            post.style.display = "none";
        }
        return false;
    }
      function openAbout(){
        document.getElementById("about").style.width = "100%";

    }
    function closeNav(){
        document.getElementById("about").style.width = "0%";
    }
   
       
    </script>
    <!--JavaScript ends -->

</body>
</html>